:root {

}

body {
    background-color: rgb(209, 210, 211);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    width: 100vw;
    display: flex;
    justify-content: center;

    /* align-items: center; */
}

main {
    
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
}

section .choice-btn {
    
}

.btn1 {
    width: 70px;
    height: 50px;
    
}